<div class="row">
  <div class="col-xs-12">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title">Nodes</h3>
      </div>

      <div class="box-body">

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Environment</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @nodes.each do |node| %>
              <tr>
                <td><%= node.name %></td>
                <td><%= node.environment %></td>
                <td><%= node.status %></td>
                <td>
                  <%= link_to raw('<i class="fa fa-eye"></i>'), node, class: 'btn btn-sm btn-default btn-flat btn-start-process' %>
                  <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_node_path(node), class: 'btn btn-sm btn-default btn-flat btn-start-process' %>
                  <%= link_to raw('<i class="fa fa-trash"></i>'), node, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-default btn-flat btn-start-process' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

      <div class="box-footer">
        <%= link_to 'Back', nodes_path, class: 'btn btn-default' %>
        <%= link_to 'New Node', new_node_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<br>

