<div class="row" id="cookbooks-build" data-id="<%= @changeset.slug %>" data-project="<%= @project.slug %>">
  <div class="col-xs-12">
    <div class="box box-default">

      <div class="box-header">
        <h3 class="box-title">#1. Cookbooks build</h3>
      </div>

      <div class="box-body table-responsive">
        <% if cookbooks.size == 0 %>
            <%= render partial: 'changesets/cookbook_build/hint_run_redguide' %>
        <% else %>
            <table class="table table-bordered table-striped table-hover table-responsive">
              <tr>
                <th></th>
                <th>Name</th>
                <th style="min-width: 90px;">Progress</th>
                <th>FoodCritic</th>
                <th>CookStyle</th>
                <th>RSpec</th>
                <th>Kitchen</th>
                <th>Approval</th>
                <th>Version</th>
                <th></th>
              </tr>
              <% cookbooks.each do |build| %>
                  <tr>
                    <td style="max-width: 2em" class="text-center">
                      <%= status_label(build.status, false) %>
                    </td>
                    <td class="center">
                      <%= link_to build.cookbook.name,
                                  project_changeset_build_details_path(
                                    @project, @changeset,
                                    { build_id: build.id }
                                  ),
                                  remote: true
                      %>
                    </td>
                      <% if build.commit_sha.empty? %>
                        <td colspan="8" class="text-center">
                          Not pushed yet. Please run <code>redguide push</code> to push your changeset to Redguide
                        </td>
                      <% else %>
                        <td>
                          <%= render partial: 'shared/build_job_status', locals: {build: build} %>
                        </td>
                        <td>
                          <%= status_label(build.foodcritic_status) %>
                        </td>
                        <td>
                          <%= status_label(build.cookstyle_status) %>
                        </td>
                        <td>
                          <%= status_label(build.rspec_status) %>
                        </td>
                        <td>
                          <%= status_label(build.kitchen_status) %>
                        </td>
                        <td>
                          <%= render partial: 'changesets/cookbook_build/pr_status', locals: {build: build} %>
                        </td>
                        <td>
                          &nbsp;
                        </td>
                        <td>
                          <% if build.can_rebuild? %>
                              <%=
                                link_to icon('play','').html_safe,
                                        project_changeset_build_cookbook_path(@project, @changeset, { cookbook_build_id: build.id }),
                                        method: :post,
                                        remote: true,
                                        class: 'btn btn-sm btn-default btn-flat btn-start-process',
                                        title: 'Test'
                              %>
                          <% end %>
                        </td>
                      <% end %>
                  </tr>
              <% end %>
            </table>
        <% end %>
      </div>

      <div class="box-footer">
        <%= link_to 'Back', project_changesets_path, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_project_changeset_path(@project, @changeset), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>