<div class="row" id="cookbooks-build" data-id="<%= @changeset.slug %>" data-project="<%= @project.slug %>">
  <div class="col-xs-12">
    <div class="box box-default">

      <div class="box-header">
        <h3 class="box-title">#1. Cookbooks build</h3>
      </div>

      <div class="box-body table-responsive no-padding">
        <% if cookbooks.size == 0 %>
            <%= render partial: 'changesets/cookbook_build/hint_run_redguide' %>
        <% else %>
            <table class="table table-bordered table-striped table-hover">
              <% @stages = (JSON.parse(cookbooks.first.build_job.stages)) %>
              <tr>
                <th></th>
                <th>Name</th>
                <th style="min-width: 90px;">Progress</th>
                <% @stages.each do |stage| %>
                    <th><%= stage['name'] %></th>
                <% end %>
                <th></th>
                <th></th>
                <th></th>
              </tr>


              <% cookbooks.each do |build| %>
                  <tr>
                    <td class="text-center">
                      <%= status_label(build.status, false) %>
                    </td>
                    <td class="center">
                      <%= link_to build.cookbook.name,
                                  project_changeset_build_details_path(
                                    @project, @changeset,
                                    { build_id: build.id }
                                  ),
                                  remote: true
                      %>
                    </td>
                      <% if build.commit_sha.empty? %>
                        <td colspan="8" class="text-center">
                          Not pushed yet. Please run <code>redguide push</code> to push your changeset to Redguide
                        </td>
                      <% else %>
                        <td>
                          <%= render partial: 'shared/build_job_status', locals: {build: build} %>
                        </td>
                        <% (JSON.parse(build.build_job.stages)).each do |stage| %>
                            <td><%= status_label stage['status'] %>
                        <% end %>
                        <td>
                          <%= render partial: 'changesets/cookbook_build/pr_status', locals: {build: build} %>
                        </td>
                        <td>
                          &nbsp;
                        </td>
                        <td>
                          <div class="btn-group">
                            <% if build.can_rebuild? %>
                                <%=
                                  link_to icon('play','Test').html_safe,
                                          project_changeset_build_cookbook_path(@project, @changeset, { cookbook_build_id: build.id }),
                                          method: :post,
                                          remote: true,
                                          class: 'btn btn-sm btn-default btn-flat btn-start-process',
                                          title: 'Start Test'
                                %>
                            <% end %>
                            <% if build.can_rebuild? %>
                                <%=
                                  link_to icon('flash','Publish').html_safe,
                                          project_changeset_build_cookbook_path(@project, @changeset, { cookbook_build_id: build.id }),
                                          method: :post,
                                          remote: true,
                                          class: 'btn btn-sm btn-default btn-flat btn-start-process',
                                          title: 'Publish cookbook'
                                %>
                            <% end %>
                          </div>
                        </td>
                      <% end %>
                  </tr>
              <% end %>
            </table>
        <% end %>
      </div>

      <div class="box-footer">
        <%= link_to 'Back', project_path(@project), class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_project_changeset_path(@project, @changeset), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>