<% stage_info = @changeset.stage_info(stage) %>
<!-- STAGES -->
<div class="row" id="stage-build" data-id="<%= @changeset.slug %>" data-project="<%= @project.slug %>" data-stage="<%= stage.name %>">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"><%= stage.description %> <%= link_to "##{stage_info.build_number}", stage_info.console_url, target: :_blank %></h3>

        <div class="box-tools pull-right">
          <%= status_label stage_info.status %>
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <% if stage_info.can_rebuild? %>
        <%=
          link_to icon('play', 'Start!').html_safe,
                  project_changeset_build_stage_path(@project, @changeset, { project_stage_id: stage.id }),
                  method: :post,
                  remote: true,
                  class: 'btn btn-app btn-start-process'
        %>
        <% end %>

        <div class="row">
          <% stage_info.steps.each do |step| %>
              <div class="col-md-4">
                <div class="<%= step['color'] %>">
                  <span class="info-box-icon">
                    <i class="fa fa-<%= step['icon'] %>"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-number">  <%= step['name'] %></span>
                    <span class="info-box-text"> <%= step['status'] %></span>
                    <% if step['duration'] > 0 %>
                      <span class="info-box-number"><%= render partial: 'shared/elapsed_time_label', locals: {elapsed: step['duration']} %></span>
                    <% end %>
                  </div>
                </div>
              </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
