<% if build.status == Redguide::API::STATUS_IN_PROGRESS %>
    <a href="#" data-toggle="modal" data-target="#cookbook-<%= build.cookbook.name %>">
      <%=  render partial: 'shared/progress_bar', locals: {progress: build.progress} %>
    </a>
    <%=  render partial: 'shared/elapsed_time_label', locals: {elapsed: build.elapsed} %>
<% else %>
    <a href="#" data-toggle="modal" data-target="#cookbook-<%= build.cookbook.name %>">
      <%= status_label(build.status) %>
    </a>
    <% if build.duration > 0 %>
      <%=  render partial: 'shared/elapsed_time_label', locals: {elapsed: build.duration} %>
    <% end %>
<% end %>
