<div class="row">
  <div class="col-xs-12">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title">Changesets</h3>
      </div>

      <div class="box-body">

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Key</th>
              <th>Description</th>
              <th>Created</th>
              <th>Author</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @changesets.each do |changeset| %>
              <tr>
                <td></td>
                <td><%= link_to changeset.key, [@project, changeset] %></td>
                <td><%= changeset.description %></td>
                <td><%= time_ago_in_words changeset.created_at %></td>
                <td><%= changeset.author.name %></td>
                <td>
                  <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_project_changeset_path(@project, changeset), class: 'btn btn-sm btn-default btn-flat btn-start-process' %>
                  <%= link_to raw('<i class="fa fa-trash"></i>'), [@project, changeset], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-default btn-flat btn-start-process' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

      <div class="box-footer">
        <%= link_to 'Back', project_path(@project), class: 'btn btn-default' %>
        <%= link_to 'New Changeset', new_project_changeset_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<br>

