<%= render partial: 'changesets/author_details', locals: {changeset: @changeset} %>

<%= render partial: 'changesets/cookbook_build/cookbooks', locals: {cookbooks: @changeset.cookbook_builds, project: @project, changeset: @changeset} %>

<div id="build-details">

</div>

<%= form_for :stage_config, :url => {:action => "new"} do |c| %>
    Name: <%= c.text_field :name %><br/>
    Content: <%= c.text_area :content %><br/>
    <%= c.submit %>
<% end %>
