<%= form_for([project, stage]) do |f| %>
    <% if stage.errors.any? %>
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa fa-ban"></i> <%= pluralize(stage.errors.count, "error") %> prohibited this stage from being saved:</h4>

          <ul>
            <% stage.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title"><%= params[:action].capitalize %></h3>
      </div>

      <div class="box-body">
        <div class="form-group">
          <%= f.label :name, class: 'control-label' %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'name'.humanize %>
        </div>

        <div class="form-group">
          <%= f.label :description, 'Description', class: 'control-label' %>
          <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
        </div>

        <div class="form-group">
          <%= f.label :jenkins_job, 'Jenkins JOB', class: 'control-label' %>
          <%= f.text_field :jenkins_job, class: 'form-control', placeholder: 'Jenkins JOB' %>
        </div>

        <div class="form-group">
          <%= f.label :stage_type, 'Stage Type', class: 'control-label' %>
          <%= f.select :stage_type, options_for_select([ "Cookbook", "Default" ], "Default") %>
        </div>

      </div>

      <div class="box-footer">
        <%= link_to 'Back', edit_project_path(@project,tab: :stages), class: 'btn btn-default' %>
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
<% end %>
