<div class="row">
  <div class="col-xs-12">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title"><%= params[:controller].split('/').last.humanize %></h3>
      </div>

      <div class="box-body">
        <div id="chart"></div>
        <% content_for :added_scripts do %>
            <script type="text/javascript">
                Morris.Bar({
                    element: 'chart',
                    data: [
                        <% errs = ErrorReport.connection.select_all("
                            SELECT DATE_FORMAT(error_reports.created_at, '%m-%d-%Y') as dt,
                            HOUR(error_reports.created_at) as hr,
                            FLOOR( MINUTE(error_reports.created_at) / 10) as mn,
                            status,
                            count(id) as count
                            FROM error_reports
                            GROUP BY dt, hr, mn, status").to_hash %>
                        <% errs_calculated = {}
                        errs.each do |y|
                         st = sprintf('%s %02d:%02d', y['dt'], y['hr'].to_i, y['mn'].to_i * 10)
                         errs_calculated[st] ||= {}
                         errs_calculated[st][y['status']] = y['count']
                        end
                        %>
                        <% errs_calculated.each_pair do |time, val| %>
                          { y: '<%= time %>', a: <%= val[Node::STATUS_NOK] ? val[Node::STATUS_NOK] : 0 %>, b: <%= val[Node::STATUS_OK] ? val[Node::STATUS_OK] : 0 %> },
                        <% end %>
                    ],
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    stacked: true,
                    barColors: ['Red', 'Green'],
                    labels: ['Failed', 'Success']
                });
            </script>
        <% end %>

        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @environment.name %></dd>

          <dt>Organization</dt>
          <dd><%= link_to @environment.organization.name, organization_url(@environment.organization) %></dd>

          <div class="box-widget">
            <h4 class="box-title">
              <div class="row">
                <div class="col-xs-8">
                  Node name
                </div>
                <div class="col-xs-4">Latest status</div>
              </div>
            </h4>

            <div id="nodes-accordion" class="box-group">
              <% nodes = @environment.nodes
                 nodes.each do |n| %>
                  <div class="panel box">
                    <div class="box-header with-border">
                      <div class="row">
                        <div class="col-xs-8">
                          <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#nodes-accordion" href="#content-node<%= n.name %>" aria-expanded="false">
                              <%= n.name %>
                            </a>
                          </h4>
                        </div>
                        <div class="col-xs-4"> <%= node_status_widget n %></div>
                      </div>
                    </div>
                    <div id="content-node<%= n.name %>" class="panel-collapse collapse" aria-expanded="false">
                      <div class="box-body">
                        <ul class="timeline">
                          <li class="time-label">Error reports</li>
                          <% reports = n.error_reports.order({created_at: :desc})
                             reports.each do |r| %>

                              <li>
                                <%= error_report_icon r %>
                                <div class="timeline-item">
                                  <%= r.created_at %>
                                </div>
                              </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </dl>
      </div>
      <div class="box-footer">
        <%= link_to 'Back', organization_environments_path, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_organization_environment_path(@environment), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

