<div class="row">
  <div class="col-xs-12">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title"><%= params[:controller].split('/').last.humanize %></h3>
      </div>

      <div class="box-body">
        <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @environment.name %></dd>

              <dt>Organization</dt>
              <dd><%= @environment.organization %></dd>

        </dl>
      </div>
      <div class="box-footer">
        <%= link_to 'Back', organization_environments_path, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_organization_environment_path(@environment), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

