<div class="row">
  <div class="col-xs-12">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title"><%= params[:controller].split('/').last.humanize %></h3>
      </div>

      <div class="box-body">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @environment.name %></dd>

          <dt>Organization</dt>
          <dd><%= link_to @environment.organization.name, organization_url(@environment.organization) %></dd>

          <div class="box-widget">
            <h4 class="box-title">
              <div class="row">
                <div class="col-xs-8">
                  Node name
                </div>
                <div class="col-xs-4">Latest status</div>
              </div>
            </h4>

            <div id="nodes-accordion" class="box-group">
              <% nodes = @environment.nodes
                 nodes.each do |n| %>
                  <div class="panel box">
                    <div class="box-header with-border">
                      <div class="row">
                        <div class="col-xs-8">
                          <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#nodes-accordion" href="#content-node<%= n.name %>" aria-expanded="false">
                              <%= n.name %>
                            </a>
                          </h4>
                        </div>
                        <div class="col-xs-4"> <%= node_status_widget n %></div>
                      </div>
                    </div>
                    <div id="content-node<%= n.name %>" class="panel-collapse collapse" aria-expanded="false">
                      <div class="box-body" style="background-color: #ecf0f5">
                        <div class="row">
                          <div class="col-xs-12">
                        <ul class="timeline">
                          <li class="time-label"><span class="bg-blue">Error reports</span></li>
                          <% reports = n.error_reports.order({created_at: :desc})
                             reports.each do |r| %>

                              <li>
                                <%= error_report_icon r %>
                                <div class="timeline-item">
                                  <h3 class="timeline-header">
                                    <i class="fa fa-clock-o"></i><span><%= r.created_at %></span>
                                    <% if r.status != 1 %>
                                        <span class="timeline-header"><a href="#" data-toggle="modal" data-target="#stacktrace-<%= r.id %>"><strong>View stacktrace</strong></a></span>
                                    <% end  %>
                                  </h3>
                                  <div class="timeline-body">
                                    <% if r.status == 1 %>
                                      Success
                                    <% else  %>
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <div width="100%"><pre class="source_code"><%= r.error_msg %></pre></div>
                                          <div id="stacktrace-<%= r.id %>" class="modal fade">
                                            <div class="modal-dialog modal-lg">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                  </button>
                                                  <h4 class="modal-title">Default Modal</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <p><pre class="source_code"><%= r.stacktrace %></pre></p>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    <% end  %>
                                  </div>
                                </div>

                              </li>
                          <% end %>
                        </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </dl>
      </div>
      <div class="box-footer">
        <%= link_to 'Back', organization_environments_path, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_organization_environment_path(@environment), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

