<%= form_for([@organization, @environment, @node, error_report]) do |f| %>
  <% if error_report.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="icon fa fa-ban"></i> <%= pluralize(error_report.errors.count, "error") %> prohibited this error_report from being saved:</h4>

      <ul>
        <% error_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title"><%= params[:action].capitalize %></h3>
      </div>

      <div class="box-body">
            <div class="form-group">
              <%= f.label :stacktrace, class: 'control-label' %>
              <%= f.text_area :stacktrace, class: 'form-control', placeholder: 'stacktrace'.humanize %>
            </div>

            <div class="form-group">
              <%= f.label :error_msg, class: 'control-label' %>
              <%= f.text_area :error_msg, class: 'form-control', placeholder: 'error_msg'.humanize %>
            </div>

            <div class="form-group">
              <%= f.label :error_passed, class: 'control-label' %>
              <%= f.text_area :error_passed, class: 'form-control', placeholder: 'error_passed'.humanize %>
            </div>

            <div class="form-group">
              <%= f.label :changed_resources, class: 'control-label' %>
              <%= f.text_area :changed_resources, class: 'form-control', placeholder: 'changed_resources'.humanize %>
            </div>

            <div class="form-group">
              <%= f.label :node_id, class: 'control-label' %>
              <%= f.text_field :node_id, class: 'form-control', placeholder: 'node_id'.humanize %>
            </div>

      </div>

      <div class="box-footer">
        <%= link_to 'Back', organization_environment_node_error_report_path(@organization, @environment, @node), class: 'btn btn-default' %>
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
<% end %>
