<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">
      <li class="header"><%= t('admin.sidebar.main_navigation') %></li>
      <li> <%= link_to '<i class="fa fa-dashboard"></i><span>Dashboard</span>'.html_safe, admin_root_path %> </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list"></i>
          <span>Projects</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>

          </span>
        </a>
        <ul class="treeview-menu">
          <% Project.all.each do |p| %>
            <li> <%= link_to %Q(<i class="fa fa-gear"></i><span>#{p.key}</span>).html_safe, p%> </li>
          <% end %>
            <li><%= link_to %Q(<i class="fa fa-plus"></i><span>NEW PROJECT</span>).html_safe, new_project_path %></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-sitemap"></i>
          <span>Organizations</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <% Organization.all.each do |o| %>
              <li> <%= link_to %Q(<i class="fa fa-gear"></i><span>#{o.name}</span>).html_safe, o%> </li>
          <% end %>
        </ul>
      </li>


      <li class="header"><%= t('admin.sidebar.administration') %></li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li> <%= link_to '<i class="fa fa-circle-o"></i> List Users'.html_safe, admin_users_path %> </li>
          <li> <%= link_to '<i class="fa fa-circle-o"></i> Create User'.html_safe, new_admin_user_path %> </li>
        </ul>
      </li>

    </ul>

  </section>
</aside>
